/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/********************************************/
/*********** APPLICATION WIDE RULES *********/
/********************************************/

h1, h2, h3, h4, h5 {
  margin: 0;
}

.primary-header,
.secondary-header,
.section-header {
  margin: 15px 30px 30px 0;
  font-weight: 400;
}

.secondary-header {
  margin: 15px 0 30px;
}

.section-header {

}

.content {
  background: #f2f4f8;
}


.file-uploader-dialog-container .mat-dialog-container {
  padding: 0 !important;
}

/********************************************/
/********* GENERAL CLASSES ******************/
/********************************************/

.error-snackbar {
  background: #f46e59 !important;
  color: #ffffff !important;
}

.warn-snackbar {
  background: #dcb400 !important;
  color: #ffffff !important;
}

.success-snackbar {
  background: #56a110 !important;
  color: #ffffff !important;
}

.error {
  background-color: rgba(255, 4, 5, 0.75) !important;
  color: #fff !important;
}

.success {
  background-color: #388e3c !important;
  color: #fff !important;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  min-width: 40px;
}

.general-padding {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }
}



.mat-form-field-prefix,
.mat-form-field-suffix {
  display: inline-flex;
  align-items: center;
}
