:host {
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  position: relative;
  padding: 2px 15px;
  display: flex;
  flex-shrink: 0;
}


@media (max-width: 768px) {
  :host {
    padding: 10px;
    min-height: auto;
  }
}
