@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-blue, 700);
$app-accent:  mat-palette($mat-light-blue, 500, 100, 700);
$app-warn:    mat-palette($mat-red);

// Background palette for dark themes.
$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    #202025,
  background: #303035,
  hover:      rgba(white, 0.04),
  card:       #303035,
  dialog:     #303035,
  disabled-button: rgba(white, 0.12),
  raised-button: #303035,
  focused-button: $light-focused,
  selected-button: #202025,
  selected-disabled-button: #303035,
  disabled-button-toggle: black,
  unselected-chip: #404045,
  disabled-list-option: black,
  tooltip: #404045,
);

$theme: mat-dark-theme($app-primary, $app-accent, $app-warn);



@include angular-material-theme($theme);
